/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling start */

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%; /* Для использования em. Теперь 1rem = 10px */
  overflow: auto;  
  background-color: coral;
}

a {
  text-decoration: none;
}

.main-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 65px;
}


/* Main Styling end */


/* Mobiles */


@media (max-width: 641px) {

  .main-container {
    width: 95vw;
    margin-left: 10px;
}

}


@media (max-width: 321px) {

  .main-container {
    margin-left: 8px;
}

}